---
title: Configuring Multi-Foundation Support in Apps Manager
owner:
---

This topic describes how to configure multi-foundation support in Apps Manager.


## <a id="overview"></a> Overview

Configuring multi-foundation support in Apps Manager allows you to search, view, and manage orgs, spaces, apps, and service instances across multiple foundations from a single interface.


## <a id="configure"></a> Configure Multi-Foundation Support

This section describes the procedures for configuring multi-foundation support in Apps Manager.

### <a id="pas"></a> Configure PAS

This section describes how to configure Pivotal Application Service (PAS) on a foundation to enable multi-foundation support in Apps Manager.

To configure multi-foundation support in Apps Manager: 

1. In the PAS tile of one of your foundations, select **Apps Manager**.

1. For **Multi-foundation configuration (beta)**, enter a JSON object for each additional foundation that you want to manage. Use the following format for the JSON object:

	<pre>
	{
	  "FOUNDATION_NAME": {
	    "ccUrl": "https://api.FOUNDATION_SYSTEM_DOMAIN.com",
	    "systemDomain": "FOUNDATION_SYSTEM_DOMAIN.com",
	    "usageServiceUrl": "https://app-usage.FOUNDATION_SYSTEM_DOMAIN.com",
	    "invitationsServiceUrl": "https://p-invitations.FOUNDATION_SYSTEM_DOMAIN.com",
	    "logoutUrl": "https://login.FOUNDATION_SYSTEM_DOMAIN.com/logout.do",
	    "metricsUrl": "https://metrics.FOUNDATION_SYSTEM_DOMAIN.com",
	    "uaaUrl": "https://login.FOUNDATION_SYSTEM_DOMAIN.com"
	  },
    }
	</pre>
	Where:
	- `FOUNDATION_NAME` is a name for the foundation.
	- `FOUNDATION_SYSTEM_DOMAIN` is the system domain of the foundation. The system domain is listed in the **Domains** pane of the PAS tile.
	- `metricsUrl` is an optional field. If <%= vars.platform_name %> Metrics is installed on the foundation, provide the <%= vars.platform_name %> Metrics URL.

1. For **Redirect URIs**, enter a comma-separated list of the URI for each additional foundation on which you enabled
multi-foundation support. Use the following format for each URI:

    ```
    https://apps.FOUNDATION_SYSTEM_DOMAIN.com/**
    ```
    Where `FOUNDATION_SYSTEM_DOMAIN` is the system domain of the foundation on which you enabled multi-foundation
    support.

### <a id="certificates"></a> Add Trusted Certificate Authorities

Apps Manager must be able to validate the CAs used by all foundations. 

If any foundation uses a certificate for TLS termination that is not signed by a globally-trusted CA, add the CA that signed the TLS certificate as a trusted CA on the foundation on which you enabled multi-foundation support. 

For more information, see [Setting Trusted Certificates](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/trusted-certificates.html).

### <a id="saml"></a> (Optional) Configure the SAML Identity Provider

Pivotal recommends that all foundations use the same external SAML identity provider. This allows Apps Manager to automatically authenticate with the identity provider. 

To configure all foundations to use the same SAML identity provider:

1. Select **Authentication and Enterprise SSO** in the PAS tile. 

1. Verify that the foundation uses the correct provider for **Provider name**.

1. Repeat the above steps for each foundation in your deployment.

For more information on UAA and identity providers, see [Identity Providers in UAA](../uaa/identity-providers.html).

For more information on how to set up identity providers in UAA, see [Adding Existing SAML or LDAP Users to a <%= vars.platform_name %> Deployment](../opsguide/external-user-management.html).
