---
breadcrumb: <%= vars.product_name %> Documentation
title: Configuring TCP Routing in PAS
owner: Routing
---

This topic describes how to enable the TCP routing feature in a Pivotal Application Service (PAS) deployment.

<p class='note breaking'><strong>Breaking Change:</strong> If you have mutual TLS app identity verification enabled, Envoy only recognizes communications from the Gorouter. Therefore, TCP no longer works.</p>


## <a id="enable-tcp"></a> Enable TCP Routing

TCP Routing enables apps to be run on <%= vars.product_name %> that require inbound requests on non-HTTP protocols. Before enabling TCP routing, review the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html) that describe required networking infrastructure changes.

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tcp_routing_enable" %><a id='tcp-routing-enable'></a>


## <a id="disable-tcp"></a> Disable TCP Routing

To disable TCP routing after enabling it:

1. Under **Enable TCP requests to apps through specific ports on the TCP router**, select **Disable TCP routing**.

1. Manually remove the TCP routing domain.
