<div id="sub-nav" class="nav-container js-sidenav" role="navigation">
	<a class="sidenav-title" data-behavior="SubMenuMobile">
		Doc Index
	</a>

	<div class="nav-content">
		<ul class="menu">

			<li class="menu-item js-menu-item">
				<div class="menu-title js-menu-title">
					PCF Architecture and Installation Guide
				</div>
				<div class="menu-content js-menu-content" aria-hidden="true">
					<ul>
        		<li>
							<a href="/pivotalcf/2-0/installing/index.html">Architecture and Installation Overview</a>
						</li>
						<li>
							<a href="/pivotalcf/2-0/installing/pcf-docs.html">Pivotal Cloud Foundry Documentation</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/customizing/index.html">PCF Planning and Installation</a>
				<ul>

					<li class="has_submenu">
						<a href="/pivotalcf/2-0/customizing/aws.html">PCF on Amazon Web Services (AWS)</a>
						<ul>
							<li class="">
								<a href="/pivotalcf/2-0/refarch/aws/aws_ref_arch.html">AWS Reference Architecture</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/config_firewall.html">Preparing Your Firewall</a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/cloudform-template.html.html">Deploying BOSH and Ops Manager to AWS</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/cloudform-template.html">Running the Ops Manager AWS CloudFormation Template</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/cloudform-dns-config.html">Configuring DNS on AWS</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/cloudform-om-config.html">Configuring Ops Manager on AWS</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/cloudform-er-config.html">Installing PAS on AWS </a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/pcf-aws-manual-config.html">Manually Deploying BOSH,  Ops Manager, and PAS on AWS</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/pcf-aws-manual-om-config.html">Configuring Manually-Deployed Ops Manager on AWS</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/pcf-aws-manual-er-config.html">Installing Manually-Deployed PAS on AWS</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has_submenu">
						<a href="/pivotalcf/2-0/customizing/azure.html">PCF on Microsoft Azure</a>
						<ul>
							<li class="">
								<a href="/pivotalcf/2-0/refarch/azure/azure_ref_arch.html">Azure Reference Architecture</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/azure-prepare-env.html">Preparing Azure</a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/azure-arm-template.html">Deploying BOSH and Ops Manager to Azure with ARM</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/azure-om-config.html">Configuring Ops Manager on Azure</a>
									</li>
								</ul>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/azure-om-deploy.html">Deploying BOSH and Ops Manager to Azure Manually</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/azure-om-config.html">Configuring Ops Manager on Azure</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/azure-gov-cloud.html">Configuring Ops Manager on Azure Government Cloud</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/azure-german-cloud.html">Configuring Ops Manager on Azure Germany</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/azure-er-config.html">Installing PAS on Azure</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/azure-troubleshooting.html">Troubleshooting PCF on Azure</a>
							</li>
						</ul>
					</li>

					<li class="has_submenu">
						<a href="/pivotalcf/2-0/customizing/gcp.html">PCF on Google Cloud Platform (GCP)</a>
						<ul>
							<li class="">
								<a href="/pivotalcf/2-0/refarch/gcp/gcp_ref_arch.html">GCP Reference Architecture</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/gcp-quotas.html">GCP Resource Quota Guidelines</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/gcp-prepare-env.html">Preparing GCP</a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/gcp-om-deploy.html">Deploying BOSH and Ops Manager to GCP</a>
							</li>
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/gcp-shared-vpc.html">Configuring a Shared VPC on GCP</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/gcp-om-config.html">Configuring Ops Manager on GCP</a>
								</li>
							</ul>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/gcp-er-config.html">Installing PAS on GCP</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/gcp-troubleshooting.html">Troubleshooting PCF on GCP</a>
							</li>
						</ul>
					</li>

					<li class="has_submenu">
						<a href="/pivotalcf/2-0/customizing/openstack.html">PCF on OpenStack</a>
						<ul>
							<li class="">
								<a href="/pivotalcf/2-0/refarch/openstack/openstack_ref_arch.html">OpenStack Reference Architecture</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/config_firewall.html">Preparing Your Firewall</a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/openstack-setup.html">Deploying BOSH and Ops Manager to OpenStack</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/openstack-om-config.html">Configuring Ops Manager on OpenStack</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/openstack-er-config.html">Installing PAS on OpenStack</a>
							</li>
						</ul>
					</li>

					<li class="has_submenu">
						<a href="/pivotalcf/2-0/customizing/vsphere.html">PCF on vSphere</a>
						<ul>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/vsphere-plan.html">Planning PCF on vSphere</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/refarch/vsphere/vsphere_ref_arch.html">vSphere Reference Architecture</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/disk-format.html">vSphere Virtual Disk Types</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/vsphere-service-account.html">vSphere Permissions Guidelines</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/understand-az.html">Availability Zones in vSphere</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/config_firewall.html">Preparing Your Firewall</a>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/refarch/vsphere/vsphere_nsx_cookbook.html">Using Edge Services Gateway on VMware NSX</a>
							</li>
							<li class="has_submenu">
								<a href="/pivotalcf/2-0/customizing/deploying-vm.html">Deploying BOSH and Ops Manager to vSphere</a>
								<ul>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/vsphere-config.html">Configuring Ops Manager Director on vSphere</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/nexus-switch.html">Using the Cisco Nexus 1000v Switch with Ops Manager</a>
									</li>
									<li class="">
										<a href="/pivotalcf/2-0/customizing/resurrector.html">Using Ops Manager Resurrector on VMware vSphere</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pivotalcf/2-0/customizing/config-er-vmware.html">Installing PAS on vSphere</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/customizing/add-ons.html">Add-on Features</a>
				<ul>
					<li class="">
						<a href="https://docs-pas-windows.cfapps.io/pas-windows/index.html">PAS for Windows 2012</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/installing-pcf-is.html">PCF Isolation Segment</a>
					</li>
					<li class="">
						<a href="/jmx-bridge/index.html">JMX Bridge</a>
					</li>
					<li class="">
						<a href="/addon-ipsec/index.html">IPSec</a>
					</li>
					<li class="">
						<a href="/addon-antivirus/index.html">ClamAV</a>
					</li>
					<li class="">
						<a href="/addon-fim/index.html">File Integrity Monitoring (FIM)</a>
					</li>
				</ul>
			</li>

			<li class="">
				<a href="/pivotalcf/2-0/customizing/small-footprint.html">Small Footprint Runtime</a>
			</li>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/customizing/day2.html">Day 2 Configurations</a>
				<ul>
					<li class="menu-item js-menu-item">
						<div class="menu-title js-menu-title">
							Incoming Traffic and Routing
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/custom-load-balancer.html">Using Your Own Load Balancer</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/config-proxy.html">Configuring Proxy Settings for All Applications</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/elb-ssh-proxy.html">Creating a Proxy ELB for Diego SSH</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/ssl-term.html">Configuring SSL Termination for vSphere Deployments</a>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/security_config.html">Providing a Certificate for your SSL Termination Point</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/adminguide/manage-domains-routes.html">Managing Domains and Routes</a>
								</li>
								</li>
							</ul>
						</div>
						<div class="menu-title js-menu-title">
							User Accounts and Permissions
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/creating-account.html">Creating PAS User Accounts</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/external-user-management.html">Adding Existing SAML or LDAP Users</a>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/pw-policy.html">Configuring UAA Password Policy</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/auth-sso.html">Configuring Authentication and Enterprise SSO for PAS</a>
								</li>
							</ul>
						</div>
						<div class="menu-title js-menu-title">
							Internal Network Security
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/config-ssh.html">Configuring SSH Access for PCF</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/windows/configure-kms.html">Configuring a KMS Host</a>
								</li>
							</ul>
						</div>
						<div class="menu-title js-menu-title">
							Monitoring
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/monitoring/metrics.html">Configuring a Monitoring System</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/logging-config-opsman.html">Configuring Logging in PAS</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>
								</li>
							</ul>
						</div>
						<div class="menu-title js-menu-title">
							Containers and Stemcells
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/docker-registry.html">Using Docker Registries</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/adminguide/docker.html">Using Docker in Cloud Foundry</a>
								<li class="has_submenu">
									<a href="/pivotalcf/2-0/windows/about-windows-stemcells.html">About Windows Stemcells</a>
								<li class="">
									<a href="/pivotalcf/2-0/windows/azure-light-stemcell.html">Deploying on Azure</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/windows/vsphere-stemcell-build.html">Creating a vSphere Stemcell Manually</a>
								</li>
							</ul>
						</div>
						<div class="menu-title js-menu-title">
							Maintenance and Customization
						</div>
						<div class="menu-content js-menu-content" aria-hidden="true">
							<ul>
								<li class="">
									<a href="/pivotalcf/2-0/customizing/backup-restore/system-setup-bbr.html">Setting Up Your Jumpbox for BBR</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>
								</li>
								<li class="">
									<a href="/pivotalcf/2-0/opsguide/custom-branding.html">Custom Branding Apps Manager</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/customizing/index.html">Using Ops Manager</a>
				<ul>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/pcf-interface.html">Understanding the Ops Manager Interface</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/add-delete.html">Adding and Deleting Products</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/deploy-ops-man-director.html">Applying Changes to Ops Manager Director</a>
					</li>
				</ul>
			</li>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/cf-cli/index.html">Using the Cloud Foundry Command Line Interface (cf CLI)</a>
				<ul>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/install-go-cli.html">Installing the cf CLI</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/getting-started.html">Getting Started with the cf CLI</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/http-proxy.html">Using the cf CLI with an HTTP Proxy Server</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/self-signed.html">Using the cf CLI with a Self-Signed Certificate</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/use-cli-plugins.html">Using cf CLI Plugins</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/devguide/v3-commands.html">Using Experimental cf CLI Commands</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/cf-cli/cf-help.html">Cloud Foundry CLI Reference Guide</a>
					</li>
				</ul>
			</li>

			<li class="has_submenu">
				<a href="/pivotalcf/2-0/customizing/troubleshooting-diagnostics.html">Troubleshooting and Diagnostics</a>
				<ul>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/diagnostics.html">Diagnosing Problems in PCF</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/troubleshooting.html">Troubleshooting Problems in PCF</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/customizing/trouble-advanced.html">Advanced Troubleshooting with the BOSH CLI</a>
					</li>
					<li class="">
						<a href="/pivotalcf/2-0/adminguide/troubleshooting_tcp_routing.html">Troubleshooting TCP Routing</a>
					</li>
				</ul>
			</li>

		</li>
	</ul>
</div>
